<div class="row">
    <div class="row mt-4">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombres" id="nombres">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Apellidos" id="apellidos">
        </div>

        <div class="col">
            <input type="number" class="form-control" placeholder="Edad" id="edad">
        </div>

        <div class="col">
            <input type="text" class="form-control" placeholder="Frase" id="frase">
        </div>

    </div>
    </div>


<div class="d-flex justify-content-end mt-5">
<button type="button" class="btn btn-danger " id="btnregresarpersonas" >Regresar</button>
    <button type="button" class="btn btn-success  ms-3" id="btnguardarpersonas"> Guardar</button>
</div>

<div id="Formulario">

</div>

<script src="./JSVistas/JavaScript.js"></script>