<div class="row">
    <div class="row mt-4">
        <div class="col">
            <input type="number" class="form-control" placeholder="Nombres" id="suma1">
        </div>
        <div class="col">
            <input type="number" class="form-control" placeholder="Apellidos" id="suma2">
        </div>

        <div class="col">
            <input type="number" class="form-control" placeholder="Edad" id="suma2">
        </div>

        <div class="col">
            <input type="number" class="form-control" placeholder="Frase" id="suma2">
        </div>

    </div>
    </div>


<div class="d-flex justify-content-end mt-5">
<button type="button" class="btn btn-danger " >Regresar</button>
    <button type="button" class="btn btn-success  ms-3">Guardar</button>
</div>

<div id="Formulario">

</div>

